@use "../variables/colors";

html {
  font-family: montserrat, sans-serif;
  color: var(colors.$typography);
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3.5rem);
  font-weight: bold;
  margin: 0;
}
